@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

:root {
    --D_darkBlueT: rgba(12, 19, 79, 0.7);
    --D_darkBlue: #0C005A;
    --D_blue:#106fb7;
    --D_lightGreen: #aac80d;
    --D_green: #34a33d;
    --D_lightBlue: #d5def5;
}

body {
    overflow-x: hidden;
    background: #fafafa !important;
}

.d_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appearAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

.pag_container {
    animation: appearAnimation 2s none;
    position: relative;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .element {
    opacity: 0 !important;
    animation: fadeIn 1s forwards;
  }
  
  .element:hover {
    animation: none;
    opacity: 1 !important;
  }
  
  .whatsapp_container {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }

  .icon_whatsapp {
    width: 60px;
    height: 60px;
    padding: 0.3rem;
    z-index: 1000;
    animation: scale 3s infinite;
  }

  @keyframes scale {
    0% {
      scale: 0.8;
    }
    50% {
      scale: 1;
    }

    100% {
      scale: 0.8;
    }
  }
  
  
  

