.services_sectionAll {
    flex-direction: column;
}

.services_pad {
    width: 100%;
    padding: 1rem;
}

.services_mainContainer {
    width: 100%;
    background: var(--D_darkBlue);
    padding: 2rem 1rem;
    flex-direction: column;
}

.type_title {
    width: 100%;
    color: white;
    padding: 0.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_info {
    color: white;
    padding: 0.5rem 1rem;
    margin: 0;
}

ul {
    padding: 0;
}

.services_itemList {
    width: 150px;
    height: 120px;
    background: #fafafa;
    padding: 0.4rem 0.6rem;
    list-style: none;
    margin: 0.3rem;
    border-radius: 0.3rem;
    color: var(--D_darkBlue) !important;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

.services_list {
    display: grid;
    grid-template-columns: auto auto;
}

.project_p {
    color: white;
    padding: 1rem 0.5rem;
    text-align: start;
}

.services_section,
.climatizacion_section,
.proyectos_section {
    max-width: 350px;
    height: 600px;
    border: 2px solid #fafafa;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.3rem;
}

.service_icon {
    width: 35px;
}

.service_iconTitle {
    margin-right: 0.5rem;
}

#servicios,
#climatizacion,
#proyectos {
    scroll-padding-top: 0px;
}

.services_bannerSection {
    width: 100vw;
    height: 400px;
    background: url('https://mmedia.eluniversal.com/17772/errores-que-se-pueden-evitar-en--las-remodelaciones-3551.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
}

.services_bannerContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.7);
}

.services_bannerInfo {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.services_bannerInfo p {
    width: 300px;
    padding: 5% 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--D_darkBlue);
}

.services_bannerImage {
    width: 70%;
}

.services_bannerImage img {
    width: 100%;
    max-width: 400px;
}

.services_workSection {
    margin: 5% 0;
    padding: 8% 0;
    width: 100%;
    flex-direction: column;
}

.services_work_info {
    width: 100%;
    max-width: 400px;
    text-align: justify;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.services_workSection h2 {
    padding: 0 0 2rem 0;
}

.services_workImagesContainer figure p,
.services_workSection h2 {
    font-weight: 600;
    text-align: center;
    color: var(--D_darkBlue);
    letter-spacing: 1px;
}

.services_workImagesContainer figure p {
    color: var(--D_green);
}

.services_workContainer {
    flex-direction: column;
}

.services_workImagesContainer {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
}

.services_workImagesContainer figure {
    width: 85%;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: self-start;
    transition: all 1s;
}

.services_workImagesContainer figure p {
    padding: 0 0.2rem;
    font-size: 1.2rem;
}

.services_workImagesContainer figure img {
    width: 100%;
    border-radius: 0.3rem;
}

.services_workImagesContainer figure:hover {
    transform: scale(1.08);
}

.services_workImagesContainer div figure {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 0;
}

.services_workLarge {
    width: 100%;
    padding: 0.5rem;
}

@media (min-width: 500px) {
    .services_bannerSection {
        height: 500px;
    }

    .services_bannerInfo p {
        width: 400px;
        padding: 0% 0;
    }
}

@media (min-width: 700px) {
    .services_workImagesContainer {
        width: 100%;
        flex-direction: row;
    }

    .services_workImagesContainer figure p {
        padding: 0 0.2rem;
        margin: 0;
    }
}

@media (min-width: 900px) {
    .services_mainContainer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 5rem 1rem;
    }

    .services_section,
    .climatizacion_section,
    .proyectos_section {
        margin: 1rem;
    }

    .services_workSection  {
        flex-direction: row;
        align-items: self-start;
    }

    .services_workLarge {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services_workImagesContainer,
    .services_workImagesContainer div figure {
        max-width: none;
        max-height: 600px;
    }

    
}

@media (min-width: 1200px) {
    .services_mainContainer {
        grid-template-columns: auto auto auto;
        padding: 5rem 1rem;
    }

    .services_section,
    .climatizacion_section,
    .proyectos_section {
        margin: 1rem;
        width: 375px;
        min-width: 375px;
    }

    .services_work_info {
        max-width: 500px;
        padding: 6rem 1rem 0 4rem;
        position: relative;
    }

    .services_work_info h2 {
        width: 800px;
        position: absolute;
        top: -5%;
        font-size: 4rem;
        border-bottom: 1px solid var(--D_green);
    }
    
    .services_work_info p {
        padding-top: 2rem;
        padding-left: 3rem;
    }

    .services_figure {
        max-width: 380px !important;
    }
}


